# 02dec2021 
# Content
1. Što je EDA 
2. Koje su vrste analize podataka 
3. Pandas - instalacija libraryja u environment
4. Objekti u Pandasu - Dataframe vs DataSeries
5. Import podataka
6. Relacije
7. Najčešće korištene metode

## EDA - Zašto?
- Get maximum insights from a data set.
- Uncover underlying structure.
- Extract important variables from the dataset.
- Detect outliers and anomalies(if any)
- Test underlying assumptions.
- Determine the optimal factor settings.

- Resources:
    - [https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/](https://www.analyticsvidhya.com/blog/2021/08/how-to-perform-exploratory-data-analysis-a-guide-for-beginners/)
    - [https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15](https://towardsdatascience.com/exploratory-data-analysis-8fc1cb20fd15)
    - [https://www.analyticsvidhya.com/blog/2021/04/mastering-exploratory-data-analysiseda-for-data-science-enthusiasts/](https://www.analyticsvidhya.com/blog/2021/04/mastering-exploratory-data-analysiseda-for-data-science-enthusiasts/)

## Inferential vs Descriptive statistics
- Deskriptivna se odnosi na razumijevanje uzorka
    - srednje vrijednosti, modovi, medijani
    - odstupanja, maximumi, minimumi
    - distribucija podataka
- Inferencijalna statistika se odnosi na razumijevanje populacije
    - i dalje se analizira uzorak!
    - ali se na temelju njega donose hipoteze (ili ide hipoteza pa analiza) koje se onda testiraju na cijeloj populaciji
    - ...

- Resources:
    - [https://towardsdatascience.com/fundamentals-of-statistics-for-data-scientists-and-data-analysts-69d93a05aae7](https://towardsdatascience.com/fundamentals-of-statistics-for-data-scientists-and-data-analysts-69d93a05aae7)
    - [https://www.statisticshowto.com/probability-and-statistics/statistics-definitions/inferential-statistics/](https://www.statisticshowto.com/probability-and-statistics/statistics-definitions/inferential-statistics/)
    - [https://www.indeed.com/career-advice/career-development/descriptive-vs-inferential-statistics](https://www.indeed.com/career-advice/career-development/descriptive-vs-inferential-statistics)

## Alat - Pandas
- [https://pandas.pydata.org/docs/getting_started/install.html](https://pandas.pydata.org/docs/getting_started/install.html)
- [https://pandas.pydata.org/pandas-docs/version/0.13.1/generated/pandas.DataFrame.html](https://pandas.pydata.org/pandas-docs/version/0.13.1/generated/pandas.DataFrame.html)

----

## Pandas Series objekt
- sličan listama
- predstavlja 'jedan column' u tablicama

In [10]:
# import os
import pandas as pd
s = pd.Series(
    ['Luka', 'Renato', 'Ena', 'Ivana']
    )
print(type(s))

<class 'pandas.core.series.Series'>

In [11]:
### Series objekt može dobiti i neki naziv - .name metoda

s.name = "Ekipa"
print(s.name)
print(type(s.values))
print(type(s.name))
print(s.index)
print(s[1])

Ekipa
<class 'numpy.ndarray'>
<class 'str'>
RangeIndex(start=0, stop=4, step=1)
Renato

In [12]:
### indexima možemo dati i ime
s.index = ['prvi', 'drugi', 'treći', 'četvrti']
s.index

Index(['prvi', 'drugi', 'treći', 'četvrti'], dtype='object')

### metode
- .iloc, .index, .values (indeksiranje i traženje elemenata)
- .mean(), .std(), ... (računanje statističkih vrijednosti)

In [13]:
### elementi se mogu mijenjati 
s.prvi = 'Darko'
s

prvi        Darko
drugi      Renato
treći         Ena
četvrti     Ivana
Name: Ekipa, dtype: object

In [14]:
### elementi se mogu mijenjati pod uvjetima
for index, value in s.items():
    print(f"Index : {index}, Value : {value}")

    if 'd' in value.lower():
        s[index] = 'Hrvoje'

s

Index : prvi, Value : Darko
Index : drugi, Value : Renato
Index : treći, Value : Ena
Index : četvrti, Value : Ivana

prvi       Hrvoje
drugi      Renato
treći         Ena
četvrti     Ivana
Name: Ekipa, dtype: object

In [16]:
print(s[2])
print(s.treći)

Ena
Ena

### Dataframe objekt
- kolekcija Series objekata
- iz dokumentacije: "Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure."
- u prijevodu: fensi tablica :)

In [18]:
df = pd.DataFrame(
    {
    'Grad': ['Split', 'Zagreb', 'Lipik', 'Osijek'],
    'godine_iskustva': [10, 8, 6, 6],
    "Ekipa": ['H', 'R', 'P', 'E']
    },
    columns = ['Grad','godine_iskustva',s.name])
# 
df

     Grad  godine_iskustva   Ekipa
0   Split               10  Hrvoje
1  Zagreb                8  Renato
2   Lipik                6     Ena
3  Osijek                6   Ivana

In [19]:
df.columns

Index(['Grad', 'godine_iskustva', 'Ekipa'], dtype='object')

In [20]:
df.index = ['bajo', 'brale', 'bracika', 'buraz']
df

           Grad  godine_iskustva   Ekipa
bajo      Split               10  Hrvoje
brale    Zagreb                8  Renato
bracika   Lipik                6     Ena
buraz    Osijek                6   Ivana

In [33]:
### kako dobiti jedan element u dataframeu
print(s[0])
print(df['Grad']['bajo'])

Hrvoje
Split

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, bajo to buraz
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Grad             4 non-null      object
 1   godine_iskustva  4 non-null      int64
 2   Ekipa            4 non-null      object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [26]:
### properties koje ćete koristiti najčešće u numpyju i pandasu:
# shape
# size

df.shape

(4, 3)

In [28]:
df.size

12

In [29]:
df.describe()

       godine_iskustva
count         4.000000
mean          7.500000
std           1.914854
min           6.000000
25%           6.000000
50%           7.000000
75%           8.500000
max          10.000000

#### loc vs iloc metode
- [https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different](https://stackoverflow.com/questions/31593201/how-are-iloc-and-loc-different)
- loc pretražuje po labelima (nazivima redova koje možemo napraviti s Series.index metodom)
- iloc pretražuje po pravoj poziciji (n-ti red...)

In [35]:
df

           Grad  godine_iskustva   Ekipa
bajo      Split               10  Hrvoje
brale    Zagreb                8  Renato
bracika   Lipik                6     Ena
buraz    Osijek                6   Ivana

In [37]:
print(df.loc['bracika', 'Grad'])
print(df.loc['buraz'])

Lipik
Grad               Osijek
godine_iskustva         6
Ekipa               Ivana
Name: buraz, dtype: object

In [39]:
print(df.iloc[-2][0])

Lipik

In [41]:
print(df.iloc[1:][1:])

           Grad  godine_iskustva  Ekipa
bracika   Lipik                6    Ena
buraz    Osijek                6  Ivana

### izmjena dataframea

In [42]:
### dodavanje stupaca

najdraze_jelo = pd.Series(
    ['Sarma', 'Paprikaš', 'Ćevapi', 'Burek kod albanca'],
    index = ['bajo','brale','bracika','buraz'],
    )

df['jela'] = najdraze_jelo
df

           Grad  godine_iskustva   Ekipa               jela
bajo      Split               10  Hrvoje              Sarma
brale    Zagreb                8  Renato           Paprikaš
bracika   Lipik                6     Ena             Ćevapi
buraz    Osijek                6   Ivana  Burek kod albanca

### Importanje stvari u Dataframe

In [45]:
### csv 
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

import os
col_names = ['Title', 'url', 'text']
path = os.path.join(os.getcwd(),'data_v1.csv')
data=pd.read_csv(path, names=col_names, header=None)

data.head()

,Title,url,text
0,Naša rješenja,https://www.inskysolutions.com/nasa-rjesenja.aspx,['TourismInSky je paket specifičnih\xa0 poslov...
1,TourismInSky,https://www.inskysolutions.com/tourisminsky.aspx,['Poslovno rješenje TourismInSky ima širok trž...
2,ContactInSky,https://www.inskysolutions.com/contactinsky.aspx,['ContactInSky rješenje za kontaktne centre ba...
3,LoyaltyInSky,https://www.inskysolutions.com/loyaltyinsky.aspx,['LoyaltyInSky je poslovno rješenje za upravlj...
4,Groups&AllotmentsInSky,https://www.inskysolutions.com/groupsallotment...,['Groups&AllotmentsInSky je poslovno rješenje ...

In [ ]:
### excel
### https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [ ]:
### sqlite db
import sqlite3

### moramo napraviti konekciju prema bazi
connection = sqlite3.connect(db_filename)

### queryjamo bazu i dajemo connection objekt kao parametar
df = pd.read_sql_query("SELECT * FROM table_name", connection)

In [ ]:
### ZADACI:
# 1. Loadaj Deanovu tablicu (pazi na header)
# 2. Prikaži podatke o tablici 
    # (koje metode ćete koristiti uvijek za dataframeove o kojima ne znate ništa?)
# 3. Pretvori column sa cijenama u dva nova:
    # a) numeričke vrijednosti (napravi konverzije u EUR ili bilo koju drugu valutu) 
    # b) drugi stupac gdje piše valuta
# 4. Dodajte novi stupac gdje piše trajanje putovanja (arrival minus departure)
    # stavite 1h ako je trajanje dana 0
# 5. Pronađi najpovoljni let srijedom
    # iterrows()
    # sort_values()
    # group_by()